@import "tailwindcss";
html, body{
  background: #000;
  font-size: medium;
  color: azure;
}
#button{
  margin: 24px;
  border-color: white;
  border-radius: 2px;
  border-width: 2px;
  padding: 4px;
}